<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Novo Alarme</title>
</head>

<body style="
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom right, #f8c777ff, #f39c12ff);
  background-color: #f5a72cff;
  text-align: center;
  padding: 10px 0 10px 0;
  ">
  <div style="
    background-color: #fff;
    padding: 25px 10px 10px 10px;
    border-radius: 20px;
    width: 600px;
    margin: 10px auto;
    ">
    <div style="padding: 0 20px; color:#03A696; font-size: 18px; font-family: sans-serif;">
      <p style="font-size: 19px; color:#03A696; font-weight: bold;">Atenção!</p>
      <p style="color:#1ba596;">Foi enviado um novo alerta de {{category}} com origem em {{origin}}.</p>
      <p style="color:#1ba596;">A descrição desse alarme foi a seguinte:</p>
      <p style="
      color:#03A696;">
        <b>{{description}}</b>
      </p>
      <br>
    </div>
  </div>
</body>

</html>